@font-face {
    font-family: 'Magneto';
    src: url('Magneto.ttf');
}
body {
    margin: 0;
  }
header { 
    height: 140px;
    background-color: rgb(255, 255, 255);
}
body {height: 20px;
    background-color: rgb(255, 255, 255)
}
header .layout h1 {
    padding-top: 50px;
    padding-left: 100px;
    height: 10px;
    font-family: 'Magneto', serif;
}
.image1 { 
    width: 50px;
    height: 5%;
    float: right;
    margin-right: 25px; 
    padding-right: 10%;
    padding-top: 0px;
}
.top {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.menu-top {
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.menu-top ul {
    display: flex;
    list-style: none;
}
.menu-top ul li {
    margin-right: 50px;
    margin-left: 50px;
    width: 140px;
    height: 15px;
    background-color: rgb(255, 255, 255);
}
.menu-top ul li:hover {
    font-weight: bold;
    color: black;
    background-color: rgb(182, 180, 180);
}
.menu-main ul{
    font-weight: bold;
    padding-top: 1500px;         
    }
    .menu-top,.menu-main ul li {
        text-align: center;
    }
 a {
    text-decoration: none;
    color: black;
}
.middle {
    display: flex;
}
.logo {width: 5px;
    height: 5px;}

#sale {
    color: red;
}
.marquee-container{
    display: flex;
    align-items: center;
    background: #ff77e19d;
    overflow: hidden;
}
.marquee{
    font-weight: bold;
    font-size: 20px;
    line-height: 9px;
    font-family: sans-serif;
    padding: 2px 0;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    animation: marquee 61s infinite linear; /* notice the infinite */
}
.marquee:after{
    content: "ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST""ㅤㅤㅤㅤСКИДКА 10% ПЕРВЫМ ПОКУПАТЕЛЯМ ПО ПРОМОКОДУ FIRST";
}
@keyframes marquee{
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-50%)
    }
}
.dropbtn {
    font-weight: bold;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 50px;
    height: 5%;
    float:left;
    margin-left: 25px; 
    font-size: 45px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    font-weight: bold;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    font-weight: bold;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: #888888;}